<section class="section" style="border-top: 1px solid #DDD;">
    <div class="container">
        <div class="columns">
            <div class="column is-9">
                <p>Universidad de Ciencias Comerciales</p>

                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Blog</a>
            </div>

            <div class="column">
                <div class="box">
                    <p>Mantente informado acerca de nuevos cursos, eventos, noticias y mas</p>

                    <br>
                    <a href="{{ path('subscription') }}" class="button is-primary">Ir al formulario de suscripcion</a>
                </div>
            </div>
        </div>
    </div>
</section>