<div id="modal" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
        <div class="notification is-info">
            <button class="delete"></button>

            <div class="buttons is-centered">
                <a href="#" class="button is-info">Facebook</a>

                <a href="#" class="button is-info">Twitter</a>

                <a href="#" class="button is-info">Whatapp</a>
            </div>
        </div>
    </div>

    <div class="modal-close is-large" arial-label="close"></div>
</div>
