{% extends 'base.html.twig' %}

{% block title %}Gracias!{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                <div class="message">
                    <div class="message-body has-text-centered">
                        Tu mensaje ha sido enviado. Nos pondremos en contacto pronto
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}